
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = "_Layout";
	ViewData["Title"] = "Protected Page";
}
<div class="container">
	<h1>🔒 Secret Content</h1>
	<p>If you see this, you’re authenticated!</p>
</div>
